@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

@import "tailwindcss";

@theme {
  --font-capriola: "Capriola";
  --font-arial: Arial, Helvetica, sans-serif;
  --color-primary: #a08861;
  --color-secondary: #cbbd9a;
  --color-accent: #f4c971;
  --color-default: #1e1e1e;
  --color-careSky: #c3ebfa;
  --color-careSkyLight: #edf9fd;
  --color-carePurple: #cfceff;
  --color-carePurpleLight: #f1f0ff;
  --color-careYellow: #fae27c;
  --color-careYellowLight: #fefce8;
}

:root {
  font-family: var(--font-capriola);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Falling rain animation */
@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(365px) scale(1);
  }
  100% {
    transform: translateY(380px) scale(0);
  }
}

/* Apply animation using custom property */
.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: calc(55s / var(--i));
}
